@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body{
    background:url(../images/bg.png);
    font-family: 'Roboto Condensed', sans-serif;
    background-attachment: fixed;
    background-position: bottom 32% center;
    font-size: 15px;
}

#main {
    position: relative;
    width: 1150px;
    margin: 40px auto;
    background-color: white;
}

h2{
    font-size: 20px;
}

#wraper{
    
}

#user_pannel{
    background-color: #4e6ca1;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    /*border-bottom: 1px solid silver;*/
    font-size: 13px;
    color: white;
    z-index: 120;
    box-shadow: 0px 7px 19px -1px #000;
    
}

#user_p{
    position: relative;
    margin: 0 auto;
    width: 1150px;
    padding: 8px 0 8px 0;
    text-align: right;
    font-family: 'Roboto Condensed', sans-serif;
}

#user_p div.left{
    max-width: 150px;
    display: inline-block;
    border-right: 1px dotted white;
    padding: 0 15px 0 15px;
}

#user_p div.left:nth-child(1){
    padding-left: 0 !important;
}


#user_p a{
    text-decoration: none;
    border-bottom: 1px dotted #fff;
    font-size: 1em;
    font-weight: normal;
    color: white;
    margin-left: 10px;
    
}

#user_p span{
    color: #C6ECFF;
    font-size: 1em;
}
#user_p .dn{
    display: inline-block;
    padding: 0 5px;
    margin-left: 5px;
    border-radius: 5px;
}
#user_p .dn0{
    background-color: #1f4384;
}

#user_p .dn1{
    background-color: #f00;
    cursor: pointer;
    
}

#top_msgs{
    box-shadow: 1px 6px 26px -6px #000000;;
    width: 50%;
    background-color: white;
    border: 1px solid silver;
    position: absolute;
    margin-left: 25%;
    margin-top: 30px;
    padding: 5px;
    color: #141823;
    text-align: left;display: none;
}

#top_msgs h2{
    font-weight: normal;
    font-size: 1.25em;
    color: white;
    background-color: #4e6ca1;
    padding: 5px;
}

#top_msgs .item_msg{
    border: 1px solid #eee;
    margin-top: 5px;
    padding: 5px;
    width: 98%;
}

#top_msgs .item_msg:hover{
    background-color: #E6F2FF;
}

#top_msgs .item_msg table td{
    padding: 5px;
}

#top_msgs .item_msg .img{
    width: 50px;
    height: 50px;
    background: center;
    background-size: 50px;
    border: 1px solid silver;
}




.clr {
	clear:both;
	padding:0;
	margin:0;
	width:100%;
	font-size:0;
	line-height:0;
}


#topmenu{
    width: auto;
    height: 45px;
    padding: 0 20px 0 50px;
    border-bottom: 1px solid #133783;
    background: #4e6ca1; /* Old browsers */
    background: -moz-linear-gradient(top, #4e6ca1 0%, #577eb2 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e6ca1), color-stop(100%,#577eb2)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #4e6ca1 0%,#577eb2 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #4e6ca1 0%,#577eb2 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #4e6ca1 0%,#577eb2 100%); /* IE10+ */
    background: linear-gradient(to bottom, #4e6ca1 0%,#577eb2 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6ca1', endColorstr='#577eb2',GradientType=0 );
  
}


/*Новое меню*/
#topmenu{
	width: 1081px;
    height: 61px;
	background:url(../images/fm_menu_bg2.jpg) repeat-x;
}
	#topmenu ul{
		/*width:80%;
		margin:0 auto;*/
		list-style:none;
	}
		#topmenu li{
			list-style:none;
			display:block;
			float:left;
			font-size:11px;
			font-weight:bold;
			height:61px;
			line-height:61px;
			margin:0 5px;
		}
			#topmenu li a{
				display:block;
				float:left;
				height:61px;				
				color:#99a2b7;
				text-decoration:none;
				text-transform:uppercase;
				padding:0 20px;				
			}
				#topmenu li a:hover{	
					background:url(../images/fm_hover_bg.png) repeat-x;
					color:#fff;
				}
					#topmenu li .current span{
						background:url(../images/fm_hover_pointer.png) no-repeat top;
						height:61px;
						display:block;
						float:left;
					}
					#topmenu li .current{
						display:block;
						float:left;
						height:61px;				
						background:url(../images/fm_hover_bg.png) repeat-x;
						color:#fff;
						text-decoration:none;
						text-transform:uppercase;
						padding:0 20px;		
					}
#topmenu img{
    position: absolute;
    margin-left: -24px;
    margin-top: 19px;
}

#topmenu .strelka{
    color: #99a2b7;
    font-size: 14px;
    position: absolute;
    margin-left: 101px;
    margin-top: 0px;
    cursor: pointer;
    
}

#topmenu ul li ul{
    background-color: #1f4384;
    display: none;
    margin-top: 61px;
    z-index: 1000;
    position: relative;
   -webkit-box-shadow: 0px 9px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 15px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 15px -2px rgba(0,0,0,0.75);
}

#topmenu ul li ul li{
    float: none;
    margin-top: 5px;
    height: 20px;
}
#topmenu ul li ul li a{
    height: 20px;
    line-height: 18px;
}
#topmenu .strelkaup{
    display: block;
    text-align: center;
    height: 20px;
    background-color: #4e6ca1;
    color: white;
    font-size: 10px;
    line-height: 15px;
    padding-top: 5px;
    border-bottom: 2px solid silver;
    cursor: pointer;
    
}




























#search{
    border: 1px dotted silver;
    margin-left: 497px;
    margin-right: 25px;
    margin-top: -70px;
    position: absolute;
    width: 610px;
    padding: 6px;
    color: #4e69a2;
    font-size: 0.9em;
    font-weight: bold;
}

#search input{
    margin-left: 15px;
}

#search input[type="text"]{
    padding: 6px;
    width: 260px;
    border: 1px dotted #4e69a2;
}
#search input[type="image"]{
    position: absolute;
    margin-left: 10px;
    margin-top: 5px;
}


#top1{
    position: absolute;
    margin-left: 494px;
    margin-top: -112px;
    width: 700px;
    color: #4e6ca1;
}

#top1 input[type="text"],#top1 input[type="password"]{
    width: 150px;
    padding: 6px;
    border: 1px solid silver;
    border-radius: 2px;
}
#top1 input[type="password"]{
    width: 100px;
}

#top1 a,#top1 input[type="submit"]{
    width: 100px;
    margin-right: 20px;
    text-decoration: none;
    border-bottom: 1px dashed #eee;
    text-align: center;
    color: #eee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    border: 1px solid silver;
    padding: 7px;
    background: #4e6ca1;
    background: -moz-linear-gradient(top, #4e6ca1 0%, #577eb2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e6ca1), color-stop(100%,#577eb2));
    background: -webkit-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: -o-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: -ms-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: linear-gradient(to bottom, #4e6ca1 0%,#577eb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6ca1', endColorstr='#577eb2',GradientType=0 );
}
#top1 a{
   padding: 5px 20px 6px 20px;
}

a.agree{
    font-weight: normal;
    text-transform: uppercase;
      color: white;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: #1a4384;
      box-shadow: 0 -3px #1f43a5 inset;
      transition: 0.2s;
      display: block;
    width: 250px !important;
    color: white !important;
    text-align: center;
    margin-left: 150px;
}

input.agree{
    font-weight: normal;
    text-transform: uppercase;
      color: white;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: #1a4384;
      box-shadow: 0 -3px #1f43a5 inset;
      transition: 0.2s;
      display: block;
    width: 250px !important;
    color: white !important;
    text-align: center;
    margin-left: 250px;
}

a.notagree{
    font-weight: normal;
    text-transform: uppercase;
      color: white;
      text-decoration: none;
      padding: .8em 1em calc(.8em + 3px);
      border-radius: 3px;
      background: #7184A7;
      box-shadow: 0 -3px #1f43a5 inset;
      transition: 0.2s;
      display: block;
      float: right;
    width: 250px !important;
    color: white !important;
    text-align: center;
    margin-right: 150px;
}
a.notagree:hover, a.agree:hover{
    background: #4e6ca1;
}

#logo{
    min-height: 55px;
}

#slogan{
    position: absolute;
    margin-left: 265px;
    margin-top: -96px;
}

#slogan h1{
    color: #1f4384;
    font-size: 2em;
    font-weight: normal;
}
#slogan p{
    color: #505050;
    font-size: 0.87em;
}

#slider a{
    color: #3BA4C7;
}

#slider a.btn{
    display: block;
    width: 292px;
    text-decoration:none; 
     text-align:center; 
     padding:11px 32px; 
     
     border-radius: 4px;  
     color:#fff; 
     background-color: #4e69a2;
    border-color: #435a8b #3c5488 #334c83;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
}

.module{
  padding: 22px;
  color: #676767;
  border: solid 1px #E8E8E8;
  background: #FAFAFA;
  margin-right: 30px;
}

.module h3{
    font-size: 17px;
    border: 1px dotted silver;
    padding: 10px 5px;
    color: #4e69a2;
    margin-bottom: 20px;
}

.module .module_item h4, #right .module .module_item h4 a{
    font-weight: normal;
    padding: 10px 5px;
    color: #d44a00;
    margin-bottom: 5px;
}

.module .module_item .item_intro_text{
    font-size: 0.9em;
    padding-bottom: 10px;
    border-bottom: 1px silver dotted;
}

.block{
    display: block;
    margin-bottom: 26px;
    background: #F1F1F1;
    font-size: 1.3em;
    padding: 14px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-weight: 300;
    width: 700px;
    height: 55px;
}





.component{
  padding: 54px;
  padding-top: 25px;
  padding-bottom: 46px;
  font-size: 0.9em;
  
}

.component h1{
    font-size: 20px;
    color: #2D2D2D;
    font-weight: bold;
    border-bottom: 1px solid #E9E9E9;
    /*width: 730px;*/
}

.component p{
    /*font-family: 'Open Sans',Helvetica,Arial,Sans-Serif;*/
    color: #454545;
    font-size: 14px;
    padding: 10px 0 0 0;
    text-indent: 15px;
}

.component .article_info{
    /*text-align: right;*/
    padding: 10px 0 10px 0;
    font-size: 0.9em;
    color: #004F72;
}
.component .article_info span{
    color: grey;
}
.component .article_info a{
    color: #1f4384;
}

#article_like {
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
    background-color: #f6f7f8;
    background-repeat: repeat-x;
    border: 1px solid silver;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: content-box;
    font-family: helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 11px;
    padding: 5px 5px 5px 15px;
    width: 120px;
    /*margin-left: 608px;*/
    cursor: pointer;
    float: right;
}

#article_like img{
    position: absolute;
    height: 15px;
    margin-top: -2px;
    margin-left: -23px;
    
}

#who_like{
    float: right;
    margin-left: 5px;
    padding: 5px;
    background-color: #f6f7f8;
    border: 1px solid silver;
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    cursor: pointer;
    margin-right: 10px;
}

#close_arrow{
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;    
}

.arrow_box {
	position: absolute;
    background: #fff;
    border: 1px solid #ababab;
    padding: 5px;
    width: 350px;
    margin-left: 436px;
    bottom: 19px;
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    display: none;
}
.arrow_box:after, .arrow_box:before {
	top: 100%;
	left: 85%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color: #fff;
    border-width: 16px;
    margin-left: -29px;
}
.arrow_box:before {
	border-color: rgba(171, 171, 171, 0);
	border-top-color: #ababab;
    border-width: 18px;
    margin-left: -31px;
}


#like_info{
    position: absolute;
    margin-left: 575px;
    margin-top: 26px;
    /* font-style: italic; */
    font-size: 11px;
    font-weight: bold;
}
.arrow_box a {
    float: left;
    margin-right: 10px;
}

.comment{
    padding: 5px;
    border: 1px dotted silver;
    border-radius: 3px;
    margin-top: 8px;
}

.comment .comment_img{
    margin-right: 10px;
}

.comment .comment_name a{
    font-size: 1.1em;
    color: #687C90;
    font-weight: bold;
}

.comment span{
    font-size: 1.1em;
    color: #555;
    font-weight: bold;
}

.comment .comment_text{
    margin-left: 100px;
}
.comment_msg{
    font-size: 13px;
    line-height: 18px;
    font-family: helvetica, arial, sans-serif;
    color: #111;
}

.comment_msg span.q{
    font-weight: normal;
    background-color: #eaeaea;
    font-size: 1em;
}

.quot{
    display: none;
    z-index: 999;
    position: absolute;
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    padding: 5px 5px 5px 30px;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 3px;
    border:3px solid grey;
}
#quot_img{
    width: 16px;
    height: 16px;
    background-image: url('http://localhost/toppsy/icos/q.png');
    position: absolute;
    left: 5px;
}


.nicEdit-main .citata, .comment_msg .citata{
    -webkit-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 10px -2px rgba(0,0,0,0.75);
    border: 1px solid silver;
    padding: 5px;
    /*background-color: #E8E8E8;*/
    width: 90%;
    margin-left: 4%;
    border-left:solid #ff5a00 5px;
    
}

.nicEdit-main .citata span, .comment_msg .citata span{
    font-size: 0.85em;
    font-weight: bold;
    margin-left: 10px;
}

.nicEdit-main .citata blockquote, .comment_msg .citata blockquote{
    margin:10px;
    padding:5px;
    color:#333;
    font-style:italic;
    font-size:14px;
    border: 1px dotted silver;
    background-color: #efefef;
}





#right{
    float: right;
    width: 300px;
    padding: 50px 24px 15px 15px;
}

#right .module{
  padding: 22px;
  color: #676767;
  border: solid 1px #E8E8E8;
  background: #FAFAFA;
  margin-right: 15px;
}




#right .module h3{
    font-weight: normal;
    background-color: #1f4384;
    padding: 10px 5px;
    color: white;
    margin-bottom: 20px;
    font-size: 16px;
}

#right .module .module_item h4, #right .module .module_item h4 a{
    font-weight: normal;
    padding: 10px 5px;
    color: #d44a00;
    margin-bottom: 5px;
}

#right .module .module_item .item_intro_text{
    font-size: 0.9em;
    padding-bottom: 10px;
    border-bottom: 1px silver dotted;
}

.block{
    display: block;
    margin-bottom: 26px;
    background: #F1F1F1;
    font-size: 1.3em;
    padding: 14px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-weight: 300;
    width: 700px;
    height: 55px;
}

.block img{
    float: left;
    margin-right: 15px;
}
.block p{
    text-indent: 0;
    padding-top: 0;
}
.block a{
    font-size: 18px;
    color: white;
    font-weight: normal;
    text-decoration: none;
    background: #4e69a2;
    position: absolute;
    margin-left: 500px;
    margin-top: 4px;
    padding: 10px;
}



.block-form-orange{
    display: block;
    margin-bottom: 26px;
    background: #FCE2D7;
    padding: 14px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-weight: 300;
    width: 700px;
}
.block-form-orange p{
    color: black;
    text-indent: 0;
}

.bigbox { 
    -ms-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5); 
    height: 20px; 
    width: 20px;
    float: left;
    margin-right: 10px;
     }



.block-form{
    display: block;
    margin-bottom: 26px;
    background: #F1F1F1;
    font-size: 1.2em;
    padding: 14px;
    padding-top: 12px;
    padding-bottom: 8px;
    font-weight: normal;
    width: 700px;
}
.block-form td{
    padding: 10px;
    vertical-align: top;
}

.block-form td span{
    color: red;
    
}

.block-form td span.error{
    font-size: 0.7em;
}

.block-form input, .block-form select{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid silver;
    width: 350px;
}
.block-form input[type="checkbox"]{
    width: 20px;
    }
.block-form input[type="submit"]{
    cursor: pointer;
    margin-left: 175px;
    font-weight: 300;
    color: white;
    font-size: 1.1em;
    padding: 10px 20px;
    border: 2px solid silver;
    font-family: 'Roboto Condensed', sans-serif;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    border: 1px solid silver;
    background: #4e6ca1;
    background: -moz-linear-gradient(top, #4e6ca1 0%, #577eb2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e6ca1), color-stop(100%,#577eb2));
    background: -webkit-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: -o-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: -ms-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: linear-gradient(to bottom, #4e6ca1 0%,#577eb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6ca1', endColorstr='#577eb2',GradientType=0 );
    
}

.ui-autocomplete{
    background-color: #a21800;
}




#overlay_msg {
  background-color: #000; /* Чёрный фон */
  height: 100%; /* Высота максимальна */
  left: 0; /* Нулевой отступ слева */
  opacity: 0.80; /* Степень прозрачности */
  position: fixed; /* Фиксированное положение */
  top: 0; /* Нулевой отступ сверху */
  width: 100%; /* Ширина максимальна */
  z-index: 999; /* Заведомо быть НАД другими элементами */
}


#site_msg{
    position: fixed;
    margin-left: 230px;
    width: 700px;
    display: block;
    z-index: 1000;
    padding: 20px;
    color: #404040;
    border: 10px solid gray;
    border-radius: 15px;
    background-color: white;
    box-shadow: 2px 1px 54px -2px #000000;
}

#site_msg p{
    margin-left: 100px;
    padding-top: 10px;
}


#site_msg.er #pic{
    width: 60px;
    height: 60px;
    background-image: url('../images/alarm.png');
    background-size: cover;
    float: left;
    margin-right: 15px;
}
#site_msg.ok #pic{
    width: 60px;
    height: 60px;
    background-image: url('../images/ok.png');
    background-size: cover;
    float: left;
    margin-right: 15px;
}

#site_msg.er #close, #site_msg.ok #close{
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/close.png');
    background-size: cover;
    margin-top: -40px;
    margin-left: 710px;
    cursor: pointer;
}





.cycle-overlay{
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: -85px;
    width: 648px;
    position: relative;
    opacity:0.7;
    font-weight: normal;
    font-family: 'Roboto Condensed', sans-
}
.cycle-overlay h1{
    font-weight: normal;
}



#forum_tbl{
    width: 750px;
    margin: 0;
    padding: 0;
    color: gray;
}

#forum_tbl tr{
    
}

#forum_tbl td{
    padding: 10px 5px;
    border-bottom: 1px solid silver;
}

.f_t_head td{
    text-align: center;
    background: #4e6ca1;
    
    color: white;
}

#forum_tbl a{
    color: #3BA4C7;
    text-decoration: none;
}

#forum_tbl a.f_s{
    display: block;
    color: #4e6ca1;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    margin-top: 3px;
    margin-bottom: 3px;
}

.info_h{
    font-family: 'Roboto Condensed', sans-serif !important;
    color: #4e6ca1 !important;
    font-size: 16px !important;
    font-weight: bold;
    
}
/*----------------------- ПСИЛАЙНЕРЫ ----------------------------*/

#psy_list_tbl p{
    margin-top: 5px !important;
    padding: 0 !important;
    font-size: 0.98em;
}
#psy_list_tbl a{
    color: #5573a6;
}
#psy_list_tbl span{
    font-family: 'Roboto Condensed', sans-serif !important;
    color: black !important;
}
#psy_list_tbl .online{
    position: absolute;
    display: block;
    float: right;
    margin-left: 94px;
    margin-top: -21px;
    /* box-shadow: 1px 2px 16px -3px #000000; */
    width: 60px;
    text-align: center;
    font-size: 0.8em;
    border-radius: 0px;
    /* border: 1px solid silver; */
}

#psy_list_tbl .online .onl1{
    background-color: #228416;
    color: white;
    padding: 2px;
    border-radius: 0px;
}
#psy_list_tbl .online .onl0{
    background-color: #ADAAAA;
    color: white;
    padding: 2px;
    /*border-radius: -1px;*/
}


/*--------------------СТАТЬИ --------------------*/
#articles_category h3{
    width: 730px;
    padding: 8px;
    background-color: #4e6ca1;
    color: white;
}
#articles_category div{
    width: 730px;
    padding: 8px;
    background-color: #e9effd;
}
#articles_category div a{
    color: #1f4384;
    transition: color 0.15s;
    font-size: 15px;
    text-decoration: none;
    margin-right: 15px;
}
#articles_category div a:hover{
    text-decoration: underline;
}
#articles_list{
    color: gray;
}
#articles_list td{
    border-bottom: 1px dotted silver;
    padding: 3px;
}
#articles_list a{
    color: #d44a00;
    text-decoration: none;
}
#articles_list a h2{
    font-size: 15px;
    font-weight: bold;
    color: #4e6ca1;
}
p.pagination{
    width: 735px;
    text-align: center;
    padding: 10px 5px;
    margin-top: 20px;
    border: 1px solid silver;
}
p.pagination a{
    margin-right: 3px;
    margin-left: 3px;
    border: 1px solid silver;
    padding: 5px;
}
p.pagination span{
    color: #4e6ca1;
}




#footer_main{
    /*background: url(../images/footer_bg.jpg);
    background-position: top 32% center;*/
}
#footer1{
    padding: 25px;
    /*background-color: #eee;*/
    width: 1100px;
    margin: 0 auto;
    color: #666666;
}
#footer{
    padding: 10px;
    /*background-color: #F8F8F8;*/
    width: 1100px;
    margin: 0 auto;
    font-size: 0.8em;
    text-align: center;
    color: white;
}
.footer_menu{
    float: left;
    display: block;
    width: 30%;
    margin-left: 25px;
    /*border: 1px solid white;*/
    padding: 10px;
    /*background-color: #004F72;
    border-radius: 15px;*/
}

.footer_menu h2{
    font-weight: normal;
    color: #fff;
}
.footer_menu a{
    color: #eee;
}
.footer_menu ul{
    list-style: none;
}

.r_msg{
    padding: 10px;
    background-color: #FDE2E2;
    border: 1px solid silver;
    line-height: 18px;
    width: 970px;
}

.grey_msg{
    padding: 10px;
    background-color: #dedede;
    border: 1px solid silver;
    line-height: 18px;
    width: 970px;
}


#tabs a{
    border: none;
    outline: none;
}

#tabs ul li a{
    font-weight: normal;
    
}

.ui-state-default{
    background: none !important;
    border: none !important;
}

.ui-tabs-active a{
    background-color: #1f4384;
}

.ui-state-default a{
    color: white !important;
}

.d_doc{
    display: block;
    width: 153px;
    height: 178px;
    border: 1px solid silver;
    background-size: 153px;
    background-position: center center;
    background-repeat: no-repeat;
}

#tabs-1 a{
    color: #004F72;
}

.nicEdit-main{
    background-color: white !important;
}

.orang_b{
    background-color: #a21800;
    border: 3px solid silver !important;
    padding: 5px 10px; 
    color: white; 
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;
}

.hide_block_wrap{
    border: 1px solid silver;
    width: 575px;
    padding: 5px 5px 15px 5px;
}

.hide_block_head{
    background-color: #e9effd;
    color: #333;
    padding: 8px;
    font-size: 1em;
    font-weight: bold;
    border: 1px solid silver;
}

.hide_block_head div{
    float: right;
    font-size: 0.9em;
    font-weight: normal;
    cursor: pointer;
}

.hide_block{
    display: none;
}

a.upl_url{
    font-weight: normal !important;
    color: white !important;
    text-decoration: none !important;
    background: #a21800;
    border: 3px solid silver !important;
    text-align: center;
    padding: 5px;
    display: block;
    margin-top: 10px;
    border-radius: 5px;
}

.w184{
    width: 184px !important;
}

.w153{
    width: 137px !important;
}

.g_msg{
    border: 1px solid silver;
    padding: 10px;
    width: 970px;
}

.g_msg span{
    font-size: 0.85em;
    color: gray;
}


td.set_links{
    width: 250px;
}
td.set_links a{
    display: block;
    padding: 10px;
    background-color: #e9effd;
    text-decoration: none;
    color: #252525;
    font-weight: bold;
    margin-bottom: 5px;
    border: 1px solid silver;
}
td.set_links a:hover{
    color: white;
    background-color: #4e6ca1;
}

.hide_form{
    width: 600px;
    padding: 20px;
    border: 1px dotted silver;
    margin-left: 65px;
    margin-top: -15px;
    display: none;
}

.hide_form_1{
    width: 690px;
    padding: 20px;
    border: 1px dotted silver;
    font-family: helvetica, arial, sans-serif;
    margin-top: 15px;
    display: none;
    color: #444;
    font-size: 0.9em;
}

.hide_form p,.hide_form_1 p{
    float: left;
    width: 200px;
    text-align: right;
}
.hide_form input,.hide_form_1 input{
    padding: 5px;
    margin-left: 20px;
    width: 250px;
}
.hide_form select{
    padding: 5px;
    margin-left: 20px;
}
.hide_form textarea.t{
    padding: 5px;
    margin-left: 20px;
    width: 250px;
    height: 100px;
}

.hide_form input[type='submit'],.hide_form_1 input[type='submit']{
    background-color: #1f4384; 
    color: white;
    border: none;
    border: 3px solid #4e6ca1;
    border-radius: 3px;
    cursor: pointer;
    width: 150px;
}


#msg_block .item_msg{
    border: 1px solid #eee;
    margin-top: 5px;
    padding: 5px;
    width: 98%;
}

#msg_block .new_msg{
    background-color: #E6F2FF;
}

#msg_block .item_msg table td{
    padding: 5px;
}

#msg_block .item_msg .img{
    width: 60px;
    height: 60px;
    background: center;
    background-size: 60px;
    border: 1px solid silver;
}

#msg_block .show_msg{
    position: absolute;
    z-index: 2;
    width: 600px;
    height: 82px;
    cursor: pointer;
    margin-top: -74px;
}

.msg_hide{
    
    color: #1f4384;
    padding: 5px;
    text-decoration: underline;
    font-size: 0.8em;
    font-weight: normal;
    text-align: right;
    border-top: 1px dotted silver;
    margin-top: 10px;
    cursor: pointer;
}

.msg_nav div{
    color: #1f4384;
    background-color: #e9effd;
    padding: 8px;
    margin-top: 5px;
    font-size: 1em;
    font-weight: bold;
}

.msg_nav span{
    float: right;
    margin-top: 10px;
    margin-right: 15px;
    color: grey;
}

.msg_nav p{
    color: #4e6ca1;
    cursor: pointer;
    text-indent: 5px;
}


.cons_tbl td{
    padding-bottom: 10px;
}
.onoffswitch {
    position: relative; width: 142px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFF; border-radius: 21px;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 40px; padding: 0; line-height: 40px;
    font-size: 13px; color: white; /*font-family: Trebuchet, Arial, sans-serif; font-weight: bold;*/
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Подключено";
    padding-left: 16px;
    background-color: #4E6CA1; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "Отключено";
    padding-right: 16px;
    background-color: #E9EFFD; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 31px; margin: 4.5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 98px;
    border: 2px solid #FFFFF; border-radius: 21px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}

.blue_block{
    position: absolute;
    background-color: #1f4384;
    color: white;
    border: 3px solid #4e6ca1;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 115px;
    margin-top: -30px;
    padding: 4px 3px;
}

.blue_link{
    position: absolute;
    text-decoration: none;
    background-color: #1f4384;
    color: white !important;
    border: 3px solid #4e6ca1 !important;
    border-radius: 3px;
    cursor: pointer;
    margin-left: 266px;
    margin-top: -33px;
    padding: 4px 30px;
}

.pg1{
    background-color: #F9F9F9;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid silver;
}

.pg1 h3{
    font-size: 14px;
    margin-bottom: 15px;
    color:#4e6ca1;
}

.w100{
    width: 1076px;
    margin-left: -25px;
    margin-top: 10px;
}

.w33{
    width: 330px;
}
.cleft{
    float: left;
    margin-top: -268px;
    margin-left: -25px;
    height: 250px;
}
.cright{
    float: right;
    margin-right: -27px;
    height: 250px;
}
.cmiddle{
    margin-left: 349px;
    height: 250px;
}

.item{
    padding: 3px 0;
    min-height: 42px;
    border-bottom: 1px dotted silver;
}

.item_img{
    width: 50px;
    height: 50px;
    float: left;
    margin-right: 10px;
    margin-bottom: 5px;
    background-size: cover;
    background-position: center;
}

.item_data{
    color: grey;
    font-size: 10px;
}
.item_data a{
    color: #4e6ca1;
    font-size: 12px;
    text-decoration: none;
}
.item_data a:hover{
    text-decoration: underline;
}
.it_title{
    font-size: 13px;
    font-weight: bold;
}

.it_title a{
    color: #333;
    text-decoration: none;
}
.it_title a:hover{
    color: #1f4384;
    text-decoration: underline;
}

.item_text{
    font-size: 12px;
}
.link_to_all{
    float: right;
    border-color: #cccccc #c5c6c8 #b6b7b9;
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
    background-color: #f6f7f8;
    background-repeat: repeat-x;
    border: 1px solid;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: content-box;
    font-family: helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 11px;
    padding: 3px;
}

#new_f_t{
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
    background-color: #f6f7f8;
    background-repeat: repeat-x;
    border: 1px solid silver;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: content-box;
    font-family: helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 11px;
    padding: 5px 5px 5px 15px;
    width: 120px;
    margin-left: 608px;
    cursor: pointer;
}
 
#new_f_t img{
    position: absolute;
    height: 15px;
    margin-top: -2px;
    margin-left: -23px;
}

#form_new_f_t{
    border: 1px solid silver;
    width: 728px;
    padding: 10px;
}
#form_new_f_t span{
    border-bottom: 1px dotted grey;
    cursor: pointer;
    font-size: 0.85em;
    font-weight: bold;
}

#form_new_f_t input[type="submit"] {
    width: 150px;
    margin-left: 581px;
    text-decoration: none;
    border-bottom: 1px dashed #eee;
    text-align: center;
    color: #eee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
    border: 1px solid silver;
    padding: 7px;
    background: #4e6ca1;
    background: -moz-linear-gradient(top, #4e6ca1 0%, #577eb2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4e6ca1), color-stop(100%,#577eb2));
    background: -webkit-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: -o-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: -ms-linear-gradient(top, #4e6ca1 0%,#577eb2 100%);
    background: linear-gradient(to bottom, #4e6ca1 0%,#577eb2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4e6ca1', endColorstr='#577eb2',GradientType=0 );
}

.profile_set_buts{
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    padding: 7px;
    height: 25px;
    margin-top: 40px;
}

.profile_set_buts div{
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
    background-color: #f6f7f8;
    background-repeat: repeat-x;
    border: 1px solid silver;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: content-box;
    font-family: helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 11px;
    padding: 6px 6px 6px 30px;
    min-width: 120px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 2px;
}

.profile_set_buts div img{
    position: absolute;
    margin-left: -27px;
    margin-top: -4px;
    height: 20px;
}
#psy_list_tbl tr td{
	border-bottom: 1px dashed silver;
    padding-top: 5px;
}


div.prcs{
    background-color: #f6f7f8;
    border: 1px solid silver;
    padding: 5px;
    margin-left: 15px;
    font-family: helvetica, arial, sans-serif;
    font-size: 12px;
}

table.tbl_prcs{
    width: 100%;
}

table.tbl_prcs td{
    padding: 3px !important;
    border-bottom: none !important;
}

table.tbl_prcs td.img_td{
    width: 30px !important;
}
table.tbl_prcs td.img2_td{
    width: 20px;
}
table.tbl_prcs td.img_td em{
    font-size: 0.9em;
}

table.tbl_prcs img{
    height: 20px;
    margin-left: 0px;
    position: absolute;
    margin-top: -11px;
}

.user_img{
    width: 150px;
    height: 190px;
    background-position: center !important;
    background-size: cover;
}

.article_text{
    font-family: helvetica, arial, sans-serif;
    font-size: 15px;
}
.article_text p{
    text-align: justify;
    line-height: 20px;
    
}

.pers_msg{
    margin-left: 15px;
    padding:10px;
    font-family: helvetica, arial, sans-serif;
    border: solid 1px #eee;
}

table.tbl_cmp{
    width: 100%;
}

table.tbl_cmp tr{
    
}
table.tbl_cmp td{
    padding: 3px 0;
    border-bottom: 1px dotted #cecece !important;
}
table.tbl_cmp td.span_td{
    text-align: right;
}
table.tbl_cmp td.span_td span span{
    width: 35px;
    display: inline-block;
    text-align: left;
}

a.btn_with_img{
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
    background-color: #fff;
    background-repeat: repeat-x;
    border: 1px solid silver;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    box-sizing: content-box;
    font-family: helvetica, arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    position: relative;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 11px;
    padding: 5px 5px 5px 35px;
    width: 75px;
    cursor: pointer;
    
}
a.btn_with_img img{
    position: absolute;
    top: 7px;
    left: 7px
}

a.doc_link{
    margin-left: 15px;
    float: left;
}

div.cal_day{
    display: inline-block;
    padding: 3px;
    border: 1px solid silver;
    width: 80px;
    margin: 2px;
    cursor: pointer;
    
}
.calendar{
    width: 100%;
    
}

div.cal_day_user{
    display: inline-block;
    padding: 3px;
    border: 1px solid silver;
    width: 92px;
    margin: 2px;
    color: #5F5F5F;
}

div.cal_day_act{
    background-color: #4e6ca1; color:#fff; cursor:pointer;
}



.time_of_cons{
    display: inline-block;
    padding: 3px;
    border: 1px solid silver;
    width: 85px;
    margin: 6px;
    cursor: pointer;
    text-align: center;
}

.time_of_cons_for_user{
    display: inline-block;
    padding: 3px;
    border: 1px solid silver;
    width: 107px;
    margin: 2px;
    cursor: pointer;
    text-align: center;
}

.n_cons{
    text-align: right;
    font-size: 12px;
    font-weight: bold;
}

.t_o_block{
    padding: 5px;
    border: 1px solid silver;
    margin-top: 5px;
    color: grey;
}

.t_o_block span{
    font-size: 1em;
    color: black;
    float: left;
    margin-right: 15px;
}

#cal_cons_block{
    border: 1px dotted silver;
    padding: 3px;
    background-color: #f7f7f7;
    margin-top: 22px;
    display: none;
}

#rel_l{
    cursor: pointer;
    color: #004F72;
    text-decoration: underline;
}


.onoffswitch_now {
    position: relative; width: 66px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch_now-checkbox {
    display: none;
}
.onoffswitch_now-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch_now-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch_now-inner:before, .onoffswitch_now-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch_now-inner:before {
    content: "ДА";
    padding-left: 17px;
    background-color: #EEEEEE; color: #1F4384;
}
.onoffswitch_now-inner:after {
    content: "НЕТ";
    padding-right: 17px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch_now-switch {
    display: block; width: 21px; margin: -1.5px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 44px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch_now-checkbox:checked + .onoffswitch_now-label .onoffswitch_now-inner {
    margin-left: 0;
}
.onoffswitch_now-checkbox:checked + .onoffswitch_now-label .onoffswitch_now-switch {
    right: 0px; 
    background-color: #1F4384; 
}



.onoffswitch_free {
    position: relative; width: 66px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch_free-checkbox {
    display: none;
}
.onoffswitch_free-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 50px;
}
.onoffswitch_free-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch_free-inner:before, .onoffswitch_free-inner:after {
    display: block; float: left; width: 50%; height: 18px; padding: 0; line-height: 18px;
    font-size: 11px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch_free-inner:before {
    content: "ДА";
    padding-left: 17px;
    background-color: #EEEEEE; color: #1F4384;
}
.onoffswitch_free-inner:after {
    content: "НЕТ";
    padding-right: 17px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch_free-switch {
    display: block; width: 21px; margin: -1.5px;
    background: #A1A1A1;
    position: absolute; top: 0; bottom: 0;
    right: 44px;
    border: 2px solid #FFFFFF; border-radius: 50px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch_free-checkbox:checked + .onoffswitch_free-label .onoffswitch_free-inner {
    margin-left: 0;
}
.onoffswitch_free-checkbox:checked + .onoffswitch_free-label .onoffswitch_free-switch {
    right: 0px; 
    background-color: #1F4384; 
}

#free_now{
    float: right;
    color: #4e5665;
    text-shadow: 0 1px 0 #fff;
    font-family: helvetica, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    margin-top: -10px;
}

#form_order_cons{
    display: block;
    padding: 10px;
    border: 1px solid silver;
    /*border-left: 6px solid #1F4384;*/
    margin-right: 20px;
    box-shadow: 0px 0px 22px -2px #c0c0c0 inset;
    margin-top: 20px;
    background-color: #eee;
    
}

#form_order_cons table{
    font-size: 1.1em;
    width: 80%;
    margin-left: 10%;
}

#form_order_cons table tr td:nth-child(1){
    text-align: right;
    color: #5f5f5f;
    padding-right: 20px;
}

#form_order_cons table tr td:nth-child(2){
    padding: 3px;
}
#form_order_cons table tr td:nth-child(2) div{
    text-align: left;
    color: #555;
    padding: 7px;
    border: 1px solid silver;
    background-color: white;
    border-radius: 2px;
    font-weight: bold;
}

#form_order_cons h1{
    position: relative;
    margin: 0;
    padding: 15px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 5px 5px 0 0;
    font-size: 16px;
    text-align: center;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0,0,0,.2);
    background-color: #3f7eb6;
    box-shadow: inset 0 1px rgba(255,255,255,.3);
    background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,.15));
}

video::-webkit-media-controls {
    display:none !important;
}

.z-index-121 {
    z-index: 121;
}

#webrtcControls {
    position: absolute;
    top: 2%;
    z-index: 1;
}
#webrtcControls img {
    max-width: 48px;
}
#webrtcControls .controls__button {
    cursor: pointer;
}
