body{
    background-color: #ededed;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

#popup{
    width: 600px;
    margin: 100px auto;
    border: 1px solid #D0D0D0;
    padding: 10px;
    background-color: white;
}

h1{
    font-weight: normal;
    border-bottom: 1px solid silver;
}

#footer_popup{
    font-size: 0.7em;
    color: grey;
    text-align: center;
}

.up_tbl1{
    width: 100%;
}

.up_tbl1 tr td{
    padding: 5px;
}

.up_tbl1 tr td:nth-child(1){
    width: 200px;
    text-align: right;
}

.up_tbl1 input{
    padding: 7px;
    border: 1px solid orange;
}

.up_tbl1 input[type='submit']{
    width: 80px;
    background-color: #d44a00;
    color: white;
    cursor: pointer;
    border: 1px solid silver;
}

#footer_popup img{
    float: left;
    width: 125px;
}

#footer_popup p{
    padding-top: 26px;
}